html, body, .container-fluid {
    height: 100%;
}

#Personal {
    background-color: grey;
    height: 25%;
    -webkit-transition: height 0.5s;
}

#Git {
    background-color: white;
    height: 25%;
    -webkit-transition: height 0.5s;
}

#Blog {
    background-color: red;
    height: 25%;
    -webkit-transition: height 0.5s;
}

#Projects {
    background-color: yellow;
    height: 25%;
    -webkit-transition: height 0.5s;
}