html, body, .container-fluid {
    background-color: black;
    height: 100%;
    overflow: hidden;
}

.row {
    color: white;
    max-height: 76%;
    -webkit-transition: height 0.75s, opacity 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.row:hover { 
    -webkit-box-shadow: inset 0rem 0rem 0.10rem 0rem rgba(255,255,255,1);
    -moz-box-shadow: inset 0rem 0rem 0.10rem 0rem rgba(255,255,255,1);
    box-shadow: inset 0rem 0rem 0.10rem 0rem rgba(255,255,255,1);
}

.row img {
    max-height: 50%;
    max-width: 50%;
    border-radius: 25%;
    margin: auto;
}

#Personal {
    background-image: url("./media/personalbg.jpg");
    background-size: cover;
    background-position: 0% 24%;
    height: 25%;
}

#Personal .title2 {
    text-align: center;
}

#Personal .img {
    max-height: 50%;
    max-width: 50%;
    border-radius: 25%;
    margin-right: 10%;
}

#Personal .detail {
    text-align: center;
}

.contact-logo {
    width: 20%;
    height: 20%;
}

#Git {
    background-image: url("./media/gitbg.png");
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position: 20% 100%;
    height: 25%;
}

#Blog {
    background-image: url("./media/blogbg.jpg");
    background-position: 30% 40%;
    background-size: 1336px auto;
    height: 25%;
}

#Projects {
    background-color: black;
    height: 25%;
}

.lead {
    opacity: 0;
    text-align: center;
}

.title {
    text-align: left;
}

.title2 {
    text-align: center;
}

#Git .title2 {
    color: black;
    text-align: center;
}

/*Large Screens*/
@media screen and (min-width: 1000px) {
    #Blog {
        background-size: 2000px auto;
    }
    #Git { /*Fix image in future */
        background-size: 700px auto;
        background-position: 20% 100%;
    }
}
/*Medium Screens*/
@media screen and (max-width: 760px) {
    #Personal .contact-logo {
        max-width: 18%;
        max-height: 18%;
    }
    #Personal #self {
        max-width: 30%;
        max-height: 30%;
    }
}

/*Mobile*/
@media screen and (max-width: 480px) {
    #Blog {
        background-size: 800px auto;
        background-position: 55% 0%;
    }
    #Git { /*Fix image in future */
        background-size: 220px auto;
        background-position: 20% 100%;
    }
    .lead {
        display: none;
        visibility: hidden;
    }
}

#Blog {
    overflow: hidden;
}
#iframeContent {
    width: 75%;
    height: 100%;
    border: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#blogWrapper {
    text-align: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#Blog .pageTop {
    margin-bottom: 0;
    padding-bottom: 0;
}