.about-me-section {
  flex: 5 0 0;
  order: 1;
  padding: 1em;
  margin: 5%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.about-me-section__header {
  font-size: 4em;
  text-align: center;
}

.about-me-section__text {
  font-size: 3.5em;
  line-height: 1.5;
  font-weight: 100;
}
