@keyframes spin {
	from {
		transform: rotate(0turn)
	}
	to {
		transform: rotate(1turn)
	}
}

@keyframes alternateSpin {
	from {
		transform: rotate(1turn)
	}
	to {
		transform: rotate(0turn)
	}
}

.atom {
-webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
} 

.atom__path {
	animation: spin 2s infinite linear;
}

.atom__proton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background: black;
}

.atom__path {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background: transparent;
  transition: 0.2s linear all;
}

.atom__electron {
  height: 12px;
  width: 12px;
  margin-top: 18px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

.atom:hover .atom__proton,
.atom:hover .atom__electron {
  background-color:rgba(176, 212, 214, 1);
  border: 1px solid black;
}

.atom:hover .atom__electron {
  margin-top: 10%;
}

.atom:hover .atom__path {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

/* List modifiers  */
.atom_list {
  align-self: flex-end;
  width: 1em;
  height: 1em;
}

.contact-info-aside__list-item:hover .atom__proton_list,
.contact-info-aside__list-item:hover .atom__electron_list {
  background-color:rgba(176, 212, 214, 1);
}

.contact-info-aside__list-item:hover .atom__electron_list {
  margin-top: 75%;
  height: 4px;
  width: 4px;
  border: 1px solid black;
}

.contact-info-aside__list-item:hover .atom__path_list {
  width: 80%;
  height: 80%;
  border: 1px solid black;
}

.contact-info-aside__list-item:hover .atom__proton_list {
  border: 1px solid black;
  background-color:rgba(176, 212, 214, 1);
}

.atom__proton_list {
  width: 0.3em; 
  height: 0.3em;
  background-color: black;
}

.atom__path_list {
  width: 0px;
  height: 0px;
  animation: alternateSpin 1.5s infinite linear;
  transition: 0.3s linear all;
}

.atom__electron_list {
  height: 0px;
  width: 0px;
  border: none;
  background-color: black;
}
