@keyframes spin {
	from {
		transform: rotate(0turn)
	}
	to {
		transform: rotate(1turn)
	}
}

@keyframes alternateSpin {
	from {
		transform: rotate(1turn)
	}
	to {
		transform: rotate(0turn)
	}
}

.atom {
-webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
} 

.atom__path {
	animation: spin 2s infinite linear;
}

.atom__proton {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  display: block;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ebe6e3;
  background: #ebe6e3;
}

.atom__path {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ebe6e3;
  background: transparent;
  transition: 0.2s linear all;
}

.atom__electron {
  height: 12px;
  width: 12px;
  margin-top: 12%;
  border-radius: 50%;
  background-color: #ebe6e3;
  border: 1px solid #ebe6e3;
}

.atom:hover .atom__proton,
.atom:hover .atom__electron {
  background-color:rgba(176, 212, 214, 1);
  border: 1px solid black;
}

.atom:hover .atom__electron {
  margin-top: 5%;
}

.atom:hover .atom__path {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

/* List modifiers  */
.atom_list {
  display: flex;
}

.contact-info-aside__list-item:hover .atom__proton_list,
.contact-info-aside__list-item:hover .atom__electron_list {
  background-color:rgba(176, 212, 214, 1);
}

.contact-info-aside__list-item:hover .atom__electron_list {
  margin-top: 75%;
  height: 4px;
  width: 4px;
  border: 1px solid black;
}

.contact-info-aside__list-item:hover .atom__path_list {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.contact-info-aside__list-item:hover .atom__proton_list {
  border: 1px solid black;
  background-color:rgba(176, 212, 214, 1);
}

.atom__proton_list {
  width: 8px; 
  height: 8px;
  background-color: #ebe6e3;
  top: calc(50% - 5px);
  left: calc(50% - 4.5px);
}

.atom__path_list {
  width: 0px;
  height: 0px;
  animation: alternateSpin 1.5s infinite linear;
  transition: 0.3s linear all;
}

.atom__electron_list {
  height: 0px;
  width: 0px;
  border: none;
  background-color: black;
}
