.contact-info-aside {
  order: 0;
  display: flex;
  height: 50em;
  flex: 2 0 0;
  flex-flow: column;
  border-right: 1px solid black;
}

.contact-info-aside__header {
  text-align: right;
  flex: 1;
  font-size: 4em;
  border-right: 0.2em solid transparent;
  color: #ebe6e3;
}

.contact-info-aside__header:hover {
  cursor: default;
  color: black;
}

.contact-info-aside__list {
  margin: 0;
  padding: 0;
  flex: 2;
  font-size: 2em;
  list-style: none;
  text-align: right;
}

.contact-info-aside__list-icon {
  flex-direction: column;
  display: flex;
  flex: 1 0 0;
  height: 1em;
  width: 1em;
}

.contact-info-aside__list-label {
  letter-spacing: 0.3em;
  display: inline-block;
  flex: 2 0 0;
}

.contact-info-aside__list-label_black {
  color: black;
}

.contact-info-aside__list-item {
  display: flex;
  color: black;
  border-right: 0.2em solid transparent;
  padding: 1em 0;
}

.contact-info-aside__list-item:hover {
  border-right: 0.2em solid rgba(176, 212, 214, 1);
  cursor: pointer;
}

