.tool-tip_meaningless {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
}
 
.tool-tip {
  opacity: 0;
  visibility: hidden;
  word-spacing: 0;
  color: white;
  padding: 1em 0.5em;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: inset 0 0 0 1px white;
  transition: opacity 1s linear;
  line-height: 0.5em;
}

.meaningless-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.meaningless-button {
  border: none;
  background-color: white;
  opacity: 0;
  color: black;
  width: 25%;
  border-radius: 5%;
  box-shadow: inset 0 0 0 1px black;
  font-size: inherit;
  font-weight: 700;
  vertical-align: middle;
  transition: opacity 2s ease-in;
}

.meaningless-button_active {
  opacity: 1;
} 
 
.tool-tip::before, .tool-tip::after {
  pointer-events: none;
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 3s;
}

.draw::before, .draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}

.meaningless-tool-tip_active{
  color: black;
  opacity: 1;
  visibility: visible;
}

.meaningless-tool-tip_active::before, .meaningless-tool-tip_active::after {
  width: 99%;
  height: 99%;
}

.meaningless-tool-tip_active::before {
  border-top-color: black;
  border-right-color: black;
  transition: width 0.12s ease-out, height 0.12s ease-out 0.12s;
}

.meaningless-tool-tip_active::after {
  border-bottom-color: black;
  border-left-color: black;
  transition: border-color 0s ease-out 0.25s, width 0.12s ease-out 0.25s, height 0.12s ease-out 0.37s;
}
